<div class="parent">
    <div class="left">
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="data-binding">Data binding</h4>
        <h4 routerLink="calculator">calculator</h4>
        <h4 routerLink="rectangle">Rectangle</h4>
        <h4 routerLink="directives">Directives</h4>
        <h4 routerLink="Registration">Registration</h4>
        <h4 routerLink="wish">Wish</h4>
        <h4 routerLink="cart">cart</h4>
        <h4 routerLink="Grade">Grade</h4>
        <h4 routerLink="cars">cars</h4>
        <h4 routerLink="phones">phones</h4>
        <button class="btn btn-danger" routerLink="/login">Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>


</div>